<!DOCTYPE html>
<html lang="en">
   
  <head>
    <link rel="stylesheet" href="style.css">
    <title>HORP Corp Inc</title>
  </head>

  <body>
     <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">HORP Corp Inc </a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>

      <header>HORP Corp Inc

      </header>
      <aside>Shopping Categories

      </aside>
      <main>
        <ul>
          <li>Product 1</li>
          <li>Product 2</li>
          <li>Product 3</li>
          <li>Product 4</li>
          <li>Product 5</li>
        </ul>
      </main>
      <footer>© 2021 HORP Corp Inc</footer>
    </div>
  </body>
</html>